        <%- include('header') %>
        <h2><%- vaga.titulo %></h2>
        <div>
            <ul>
                <li><%- vaga.descricao %></li>
            </ul>            
        </div>      
        <%- include('footer') %>